@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mukta&family=Open+Sans&family=Ubuntu:ital,wght@1,300&display=swap');

body {
    font-family: 'Mukta', sans-serif;
}

.blu {
    background-color:#4971FF;
    color:  #ffffff;
}

.blu2 {
    background-color:#4971FF;
}

#fascia-superiore{
    height: 36px;
    padding: 5px;
    padding-right: 100px;
}

#fascia-superiore a{
    color: #fff;
    text-decoration: none;
}

#fascia-superiore a:hover {
    color: #eccc68;
}


#fascia-navigazione {
    height: 91px;
}

#fascia-navigazione a {
    color:  #4971FF;
    ;
    text-decoration: none;
    font-size: 1.2rem;
}

#fascia-navigazione a:hover {
    color: #ff6b81;
}

#fascia-carousel {
    height: 367px;
}

.elemento-carousel {
    height: 300px;
}

#fascia-card {
    min-height: 367px;
}